.mainform {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
}


.analyzemytweets {
    padding: 10px 10px 100px 10px;

}
